/** dark-blue 主题下的变量 */

// 主题名称
$theme-name: "custom-theme";
// 主题背景颜色
$theme-bg-color: #F8F9FA;
// 主题色
$theme-color: #479a5e;
// 默认文字颜色
$font-color: #333;
// active 状态下文字颜色
$active-font-color: #fff;
// hover 状态下文字颜色
$hover-color: #fff;
// 边框颜色
$border-color: #479a5e;
// vxe-table 主题
$table-header-color: #F5F5F599;
$table-border-color: #ebeef5;
$table-row-hover-color: #71F6B51A;
/** menu主题  */
$menu-hover: #0E9D5780;
$menu-hover-text-color: #0E9D57;
